@using Microsoft.AspNet.Identity
@using SPO.Models

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="nav navbar-nav navbar-right row">
            <div class="col-sm-3 col-xs-12 pl-0 ml-0"></div>
            <div class="col-sm-7 col-xs-12 pl-0 ml-0" style="display:flex">
                <img src="~/Images/default-avatar.png" style="width: 50px; height: 50px">
                
                <span class="text-primary" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin:auto">@Html.ActionLink($"{User.Identity.Name}", "Dashboard")</span>
            </div>
            <div class="col-sm-2 col-xs-12 p-0 m-0">
          
                <span class="btn btn-sm btn-outline-info"><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></span>
            </div>
        </div>

    }
}
else
{
    Response.Redirect("~/Account/Login");
}
